@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;

}

body {
    font-family: Poppins;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
hr {
    margin: 10px 0;
    border-top: 3px solid #CCC;
    border-radius: 5px;
}

.box{

    background-color: rgb(35, 33, 33);

    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    max-width: 900px;
    min-width: 700px;
    justify-content: center;
}

.pesquisa{

    background-color: rgb(179, 28, 28);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    max-width: 450px;
    min-width: 350px;
    min-height: 400px;
    margin: 10px;
}
h1 {
    font-size: 20px;
    text-align: center;
}
.imagem, #imgPokemon{
    text-align: center;
    min-height: 50%;
}
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem img{
    width: 85%;
}
.group-form {
    padding: 5px 0;
    
}
.group-form label {
    font-weight: 900;
    color: #000000;
}
.group-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-family: Poppins;
    text-transform: uppercase;
}
.group-form input[type=submit] {
    background-color: #1B356E;
    font-weight: 600;
    color: #FFF;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}


.tela{

    background-color: rgb(170, 207, 179);

    border: 1px solid black;
    padding: 20px;
    max-width: 450px;
    min-width: 350px;

    margin: 10px;
}
#imgPokemon img {
    width: 150px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    margin: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
#content {
    font-family: monospace;
    padding: 10px;
    background-color: #FFCC01;
    border: 1px solid #c8a102;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1rem;
    text-align: justify;
    color: rgb(0, 0, 0);
}

@media (max-width: 800px){
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tela, .pesquisa{
        width: 90%;
        margin: auto;
    }
}